@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');


* {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;

}

.main-container {
    display: flex;
    margin: 0 auto;
    height: 100vh;

    .pokemons-list {
        flex: 300px;
        background-color: #FFEAEA;
        overflow: scroll;

        .title {
            font-size: 2rem;
            font-weight: 700;;
            margin: 50px;
        }

        .pokemons-wrapper {
            display: flex;
            flex-direction: column;

            .pokemon {
                display: block;
                background-color: #FFB2B2;
                margin: 10px 50px;
                padding: 10px;
                border-radius: 10px;
                text-align: center;
                border: 0;
                font-size: 1.2rem;
            }

        }
    }

    .pokemon-information {
        flex: 60%;
        padding: 50px 100px;

        .pokemon-name {
            font-size: 2.5rem;
            font-weight: 900;
            color: #d38484;
        }

        .img {
            max-width: 200px;
            margin-bottom: 20px;
        }

        hr {
            margin-bottom: 30px;

        }

        .subtitle {
            font-size: 1.8em;
            font-weight: 600;
            color: #d38484;
            margin-bottom: 15px;
        }

        p {
            margin-bottom: 10px;
        }

        .information, .abilities {
            margin-bottom: 25px;
            font-size: 1.5rem;
        }

    }
}